body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
#firstp {
  color: red;
}
#secondp{
  color: magenta;
}
#a1{
   font-size: 100px;
     position: relative;

}
article {
  display: block;
}
