body,html {
  background-color: powderblue;
height: 100%;
}
h1 {
  color: blue;
}
#firstp {
  color: red;
}
#secondp{
  color: magenta;
}
#a1{
   font-size: 100px;


}
#a2{
  color:darkgreen;
}
article {
  display: block;
}
.bg {
  /* The image used */
  background-image: url("one.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
