body,html {
  background-color: powderblue;
height: 100%;

}
h1 {
  color: blue;
}
#firstp {
  color: red;
}
#secondp{
  color: magenta;
}
#a1{
   font-size: 100px;


}
#a2{
  color:darkgreen;
}
article {
  display: block;
}


#img1{ width: 100%;

                       height:100%;
           }
